$theme-colors: (
  "primary": #5ba4dc
);

@import '../bootstrap/scss/bootstrap';

//Custom styles
html,
body {
	height: 100%;
	background-color: #CACACA;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding-bottom: 90px;
}

.articles {

}

.comment__image {
	max-width: 15%;
}

.comment img {
	max-width: 100%;
	height: auto;
}

.sidebar {
	
}

.sidebar_recent {
	
}

.sidebar__categories {

}

.sidebar__authors img {
	max-width: 60px;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}